* {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: border-box;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #000000;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: white;
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 800;
  margin-left: 50px;
  border-radius: 50px;
  text-decoration: none;
}

.navbar .list-item {
  display: flex;
  margin-right: 50px;
}
.navbar .list-item li{
  list-style: none;
}

.navbar .list-item a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 20px;
  font-weight: 200;
  transition: .3s ease-in-out;
}

.menu-toggle{
  color: white;
  display: none;
}
.list-item a:hover {
  background-color: white;
  color: black;
}

.navbar .list-item.active {
  display: flex;
}


.hero-section .image {
  background-image: url("Images/dslr.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.content {
  padding: 78px 16px;
}

.content .team {
  text-align: center;
}
.content .team h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px 0px;
  font-weight: 300;
  font-size: 3rem;
}

.team p {
  margin: 10px 0px;
}

.content .team-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 70px 0px;
}

.team-info .info {
  width: 216px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-info .info .image1 {
  background-image: url("Images/salman2696.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.team-info .info .image2 {
  background-image: url("Images/anas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.team-info .info .image3 {
  background-image: url("Images/ayaan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.team-info .info .image4 {
  background-image: url("Images/anas2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.team-info .info h3 {
  margin: 15px 0px;
  font-weight: 300;
  font-size: 1.3rem;
}

.work-section{
  background-color: #696969;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 30px;
}

.work-section .work-info{
  max-width: 30%;
  color: white;
}

.work-section .work-info h2{
  font-weight: 400;
  font-size: 2.5rem;
}

.work-section .work-info p{
  font-weight: 300;
  font-size: 1rem;
  margin-top: 20px;
  line-height: 2rem;
}

.work-section .work-container{
  max-width: 20%;
  background-color: white;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: black;
}

.work-section .work-container h3{
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 10px 10px;
}

.work-section .work-container p{
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 10px 10px;
  text-align: justify;
}

.work-section .work-container img{
  width: 100%;
}

.work-section .work-container:hover {
  transform: scale(1.05); 
}

.contact-section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 100px 10px;
  background-color: #e7e7e7;
}
.contact-section .contact-container{
  padding: 10px;
}

.contact-section .contact-container h2{
  border-bottom: 6px solid black;
  font-weight: 300;
  display: inline-block;
}

.contact-section .contact-container p{
  padding: 10px;
}

.contact-section .form-container{
  padding: 10px;
  width: 60%;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.contact-section .form-container .input-box{
  margin:16px 16px;
}

.contact-section .form-container .input-box .input{
  padding: 8px;
  width: 100%;
  border: none;
  border-bottom:1px solid #ccc;
}

.input-box button{
  border: none;
  background-color: #000000;
  padding: 8px 16px;
  color: white;
  float: right;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 30px;
}

.footer .follow{
  color: #e7e7e7;
  text-align: center;
}
@media screen and (max-width: 950px) {

  .content {
    padding: 48px 16px; 
  }

  .team-info {
    flex-wrap: wrap; 
  }

  .team-info .info {
    margin: 15px 0; /* Adjust margin between team members */
  }

  .team-logo .info .image1,
  .team-logo .info .image2,
  .team-logo .info .image3,
  .team-logo .info .image4 {
    margin-bottom: 10px; /* Adjust margin between team member images */
  }
  .work-section .work-info,
  .work-section .work-container {
    max-width: 45%; /* Adjust the maximum width for smaller screens */
    margin-top: 20px;
  }

}

@media screen and (max-width: 600px) {
  .work-section .work-info,
  .work-section .work-container {
    max-width: 100%; /* Full width for extra small screens */
  }

  .navbar .list-item {
    display: none;/* Hide list items by default */
    flex-direction: column; /* Stack items vertically */
    position: absolute;
    top: 60px; /* Adjust as needed to avoid overlapping with navbar */
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #000000; /* Background color for hamburger menu */
  }

  .navbar .list-item li  {
    padding: 20px; /* Adjust padding as needed */
  }

  .menu-toggle {
    display: block; /* Show hamburger menu */
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 20px;
  }

  .contact-section{
    padding: 50px 30px;
    background-color: #e7e7e7;
  }

  .contact-section .contact-container{
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-section .form-container{
    width: 100%;
  }
}

@media screen and (min-width:600px) and (max-width: 950px){
  .contact-section{
    padding: 50px 30px;
    background-color: #e7e7e7;
  }

  .contact-section .contact-container{
    margin-bottom: 20px;
    text-align: center;
  }

  .contact-section .form-container{
    width: 100%;
  }
}
